@use "../scss/variables" as *;
@use "../scss/mixins";

.basket {
  @include mixins.flex(column);
  padding: $defaultPadding 0;
  font-weight: 400;

  @media (max-width: 910px) {
    padding: $defaultPadding 0 calc($defaultPadding / 2);
  }

  @media (max-width: 560px) {
    padding: calc($defaultPadding / 1.5) 0 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
  }

  &__item {
    @include mixins.grid(45px 1fr 60px, 20px, row);
    align-items: center;
    padding: 30px 0;
    border-bottom: $primary 1px solid;

    @media (max-width: 910px) {
      grid-template-columns: 35px 1fr 28px;
      padding: 20px 0;
    }

    @media (max-width: 560px) {
      grid-template-columns: 25px 1fr 18px;
      padding: 10px 0;
      gap: 10px;
    }

    &-info {
      @include mixins.flex(row);
      min-width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 10px 40px;
      flex-wrap: wrap;
    }

    &-index {
      @include mixins.flex(row);
      justify-content: center;
      align-items: center;
      min-width: 45px;
      max-width: 45px;
      height: 45px;
      background-color: $primary;
      border-radius: 100%;
      font-size: nth($smallFontSize, 3);

      @media (max-width: 910px) {
        min-width: 35px;
        height: 35px;
        font-size: nth($smallFontSize, 2);
      }

      @media (max-width: 560px) {
        min-width: 25px;
        height: 25px;
        font-size: nth($smallFontSize, 1);
      }
    }

    &-title {
      min-width: 150px;
      max-width: 100%;
      font-size: nth($mainFontSize, 3);
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      @media (max-width: 560px) {
        font-size: nth($mainFontSize, 2);
      }
    }

    &-price {
      font-size: nth($smallFontSize, 2);

      @media (max-width: 560px) {
        font-size: nth($smallFontSize, 1);
      }
    }

    &-delete {
      @include mixins.background("../images/trash.png", contain, right);
      @include mixins.selectable(transparent, .5);
      background-color: transparent;
      justify-self: flex-end;
      width: 38px;
      height: 42px;
      border: none;
      flex-grow: 1;
      margin-left: 20px;

      @media (max-width: 910px) {
        margin-left: 0;
        width: 28px;
        height: 36px;
      }

      @media (max-width: 560px) {
        width: 18px;
        height: 21px;
      }
    }
  }

  &__price {
    font-size: nth($mainFontSize, 3);

    @media (max-width: 910px) {
      font-size: nth($mainFontSize, 2);
    }

    @media (max-width: 560px) {
      font-size: nth($mainFontSize, 1);
    }
  }
}
