@use "../scss/mixins";

.loader {
  @include mixins.flex;
  @include mixins.sublayer(fixed);
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.2s;

  &_active {
    visibility: visible;
    opacity: 1;
  }


  &__spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
      animation-play-state: paused;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
    }

    &_animation-active div {
      animation-play-state: running;
    }

    // Генерация восьми элементов с задержкой и позицией
    @for $i from 1 through 8 {
      div:nth-child(#{$i}) {
        animation-delay: -#{($i * 0.036)}s;

        &:after {
          @if $i == 1 { top: 63px; left: 63px; }
          @else if $i == 2 { top: 68px; left: 56px; }
          @else if $i == 3 { top: 71px; left: 48px; }
          @else if $i == 4 { top: 72px; left: 40px; }
          @else if $i == 5 { top: 71px; left: 32px; }
          @else if $i == 6 { top: 68px; left: 24px; }
          @else if $i == 7 { top: 63px; left: 17px; }
          @else if $i == 8 { top: 56px; left: 12px; }
        }
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
