<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-TileColor" content="#000000">
  <title>SnapShop</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="Morozov Maksim">
</head>

<body class="page">
  <div class="page__wrapper">
    <header class="header">
      <div class="header__container">
        <a href="" class="header__logo">
          <img
            src="<%= require('../images/SnapShop-logo.svg') %>"
            alt="Logo"
            class="header__logo-image"
          >
        </a>
        <button class="header__basket">
          <span class="header__basket-counter">
            0
          </span>
        </button>
      </div>
    </header>

    <main class="gallery">
      <button class="card gallery__item">
        <span class="card__category card__category_comfort">Neon Comfort</span>
        <h2 class="card__title">Хозяинский трон для хозяина</h2>
        <img
          src="<%= require('../images/armchair.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">2400 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_shine">Holo Shine</span>
        <h2 class="card__title">Чугунный радиатор с подсветкой</h2>
        <img
          src="<%= require('../images/floor-lamp.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">700 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_comfort">Neon Comfort</span>
        <h2 class="card__title">Гравитационный пуф</h2>
        <img
          src="<%= require('../images/pouf.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">2300 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_desks">Cyber Desks</span>
        <h2 class="card__title">Всесторонний стол</h2>
        <img
          src="<%= require('../images/round-table.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">1700 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_shelves">Gravity Shelves</span>
        <h2 class="card__title">Голографическая Полка</h2>
        <img
          src="<%= require('../images/shelf.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">800 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_shine">Holo Shine</span>
        <h2 class="card__title">Пиксельное облако</h2>
        <img
          src="<%= require('../images/ceiling-lamp.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">400 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_lounge">Pixel Lounge</span>
        <h2 class="card__title">Скипатель времени</h2>
        <img
          src="<%= require('../images/sofa.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">3200 тугриков</span>
      </button>

      <button class="card gallery__item">
        <span class="card__category card__category_desks">Cyber Desks</span>
        <h2 class="card__title">Стол для посидеть повтыкать</h2>
        <img
          src="<%= require('../images/table.png') %>"
          alt=""
          class="card__image"
        >
        <span class="card__price">2000 тугриков</span>
      </button>
    </main>
  </div>

  <div class="modal" id="modal-container">
    <div class="modal__overlay"></div>
    <section class="modal__container">
      <button class="modal__close" aria-label="закрыть"></button>
      <div class="modal__content"></div>
    </section>
  </div>

  <div class="modal">
    <div class="modal__overlay"></div>
    <section class="modal__container">
      <button class="modal__close" aria-label="закрыть"></button>
      <div class="modal__content">
        <section class="card card_full">
          <img
            src="<%= require('../images/table.png') %>"
            alt=""
            class="card__image"
          >
          <div class="card__column">
            <span class="card__category">Cyber Desks</span>
            <h2 class="card__title">Стол для посидеть повтыкать</h2>
            <p class="card__text">обостряет ощущение сдвг</p>
            <div class="card__actions">
              <button class="button button_type_order card__button">В корзину</button>
              <span class="card__price">2000 тугриков</span>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>

  <div class="modal">
    <div class="modal__overlay"></div>
    <section class="modal__container">
      <button class="modal__close" aria-label="закрыть"></button>
      <div class="modal__content">
        <section class="basket">
          <h2 class="modal__title">Корзина</h2>
          <ul class="basket__list">
            <li class="basket__item">
              <span class="basket__item-index">1</span>
              <div class="basket__item-info">
                <span class="basket__item-title">Пиксельное облако</span>
                <span class="basket__item-price">400 тугриков</span>
              </div>
              <button class="basket__item-delete" aria-label="удалить"></button>
            </li>
            <li class="basket__item">
              <span class="basket__item-index">2</span>
              <div class="basket__item-info">
                <span class="basket__item-title">Всесторонний стол</span>
                <span class="basket__item-price">1700 тугриков</span>
              </div>
              <button class="basket__item-delete" aria-label="удалить"></button>
            </li>
            <li class="basket__item">
              <span class="basket__item-index">3</span>
              <div class="basket__item-info">
                <span class="basket__item-title">Всесторонний стол</span>
                <span class="basket__item-price">1700 тугриков</span>
              </div>
              <button class="basket__item-delete" aria-label="удалить"></button>
            </li>
            <li class="basket__item">
              <span class="basket__item-index">4</span>
              <div class="basket__item-info">
                <span class="basket__item-title">Всесторонний стол</span>
                <span class="basket__item-price">1700 тугриков</span>
              </div>
              <button class="basket__item-delete" aria-label="удалить"></button>
            </li>
          </ul>
          <div class="modal__actions">
            <button class="button button_type_order basket__button">Оформить</button>
            <span class="basket__price">0 тугриков</span>
          </div>
        </section>
      </div>
    </section>
  </div>

  <div class="modal">
    <div class="modal__overlay"></div>
    <section class="modal__container">
      <button class="modal__close" aria-label="закрыть"></button>
      <div class="modal__content">
        <form class="form" name="order">
          <fieldset class="order">
            <legend class="order__legend">Способ оплаты</legend>
            <div class="order__buttons">
              <label class="order__label">
                <input
                  type="radio"
                  name="payment"
                  value="online"
                  class="order__input"
                >
                <span class="button order__button">Онлайн</span>
              </label>
              <label class="order__label">
                <input
                  type="radio"
                  name="payment"
                  value="cash"
                  class="order__input"
                >
                <span class="button order__button">При получении</span>
              </label>
            </div>
            <label class="order__field">
              <span class="form__label">Адрес доставки</span>
              <input
                type="text"
                class="form__input"
                placeholder="Введите адрес"
                name="address"
                required>
            </label>
          </fieldset>
          <div class="modal__actions">
            <button class="button button_type_order" type="submit">Далее</button>
            <span class="form__errors"></span>
          </div>
        </form>
      </div>
    </section>
  </div>

  <div class="modal">
    <div class="modal__overlay"></div>
    <section class="modal__container">
      <button class="modal__close" aria-label="закрыть"></button>
      <div class="modal__content">
        <form class="form" name="contacts">
          <fieldset class="order">
            <label class="order__field">
              <span class="form__label">Email</span>
              <input
                type="email"
                class="form__input"
                placeholder="Введите Email"
                name="email"
                required
              >
            </label>
            <label class="order__field">
              <span class="form__label">Телефон</span>
              <input
                type="tel"
                class="form__input"
                placeholder="+7 ("
                name="phone"
                required
              >
            </label>
          </fieldset>
          <div class="modal__actions">
            <button class="button button_type_order" type="submit">Оплатить</button>
            <span class="form__errors"></span>
          </div>
        </form>
      </div>
    </section>
  </div>

  <div class="modal">
    <div class="modal__overlay"></div>
    <section class="modal__container">
      <button class="modal__close" aria-label="закрыть"></button>
      <div class="modal__content">
        <section class="order-success">
          <h2 class="order-success__title">Заказ оформлен</h2>
          <p class="order-success__text">Списано 1200 тугриков</p>
          <button class="button button_order-success_close">За новыми покупками</button>
        </section>
      </div>
    </section>
  </div>

  <template id="card-item">
    <button class="card gallery__item">
      <span class="card__category">Хвойное</span>
      <h2 class="card__title">Ель</h2>
      <img
        src=""
        alt=""
        class="card__image"
      >
      <span class="card__price">600 тугриков</span>
    </button>
  </template>

  <template id="card-preview">
    <section class="card">
      <img
        src=""
        alt=""
        class="card__image"
      >
      <div class="card__column">
        <span class="card__category">Хвойное</span>
        <h2 class="card__title">Ель с Кибертрона</h2>
        <p class="card__text">Если планируете еще полгода вычищать ковер от иголок</p>
        <div class="card__actions">
          <button class="button button_type_order card__button">В корзину</button>
          <span class="card__price">600 тугриков</span>
        </div>
      </div>
    </section>
  </template>

  <template id="basket-item">
    <li class="basket__item">
      <span class="basket__item-index"></span>
      <span class="basket__item-title"></span>
      <span class="basket__item-price"></span>
      <button class="basket__item-delete" aria-label="удалить"></button>
    </li>
  </template>

  <template id="basket">
    <section class="basket">
      <h2 class="modal__title">Корзина</h2>
      <ul class="basket__list"></ul>
      <div class="modal__actions">
        <button class="button button_type_order basket__button">Оформить</button>
        <span class="basket__price">0 тугриков</span>
      </div>
    </section>
  </template>

  <template id="order">
        <form class="form" name="order">
          <fieldset class="order">
            <legend class="order__legend">Способ оплаты</legend>
            <div class="order__buttons">
              <label class="button">
                <input
                  type="radio"
                  name="payment"
                  value="online"
                  class="order__input"
                >
                Онлайн
              </label>
              <label class="button">
                <input
                  type="radio"
                  name="payment"
                  value="cash"
                  class="order__input"
                >
                При получении
              </label>
            </div>
            <label class="order__field">
              <span class="form__label">Адрес доставки</span>
              <input
                type="text"
                class="form__input"
                placeholder="Введите адрес"
                name="address"
                required
              >
            </label>
          </fieldset>
          <div class="modal__actions">
            <button class="button button_type_order" type="submit">Далее</button>
            <span class="form__errors"></span>
          </div>
        </form>
  </template>

  <template id="contacts">
    <form class="form" name="contacts">
      <fieldset class="order">
        <label class="order__field">
          <span class="form__label">Email</span>
          <input
            type="email"
            class="form__input"
            placeholder="Введите Email"
            name="email"
            required
          >
        </label>
        <label class="order__field">
          <span class="form__label">Телефон</span>
          <input
            type="tel"
            class="form__input"
            placeholder="+7 ("
            name="phone"
            required
          >
        </label>
      </fieldset>
      <div class="modal__actions">
        <button class="button button_type_order" type="submit">Оплатить</button>
        <span class="form__errors"></span>
      </div>
    </form>
  </template>

  <template id="success">
    <section class="order-success">
      <h2 class="modal__title">Заказ оформлен</h2>
      <p class="modal__text">Списано 0 тугриков</p>
      <button class="button button_order-success_close">За новыми покупками</button>
    </section>
  </template>
</body>
</html>
