$background: #370f21;
$primary: #14060c;
$primaryLight: #4f1e33;
$hover: #c75f8c;
$secondary: #ffffff;
$error: #f18b7e;

$font: 'YS Text', Roboto, Helvetica, Arial, sans-serif;

$smallFontSize: 12px, 16px, 20px;
$mainFontSize: 16px, 20px, 30px;
$titleFontSize: 30px, 40px, 50px;

$minPageWidth: 320px;
$maxPageWidth: 1320px;

$category1: #83fa9d;
$category2: #fad883;
$category3: #b783fa;
$category4: #83ddfa;
$category5: #faa083;

$minPadding: 16px;
$midPadding: 24px;
$defaultPadding: 48px;

$minBorderRadius: 12px;
$defaultBorderRadius: 60px;

$defaultBorder: 2px $primaryLight solid;
$checkedBorder: 2px #ffffff solid;
$hoverBorder: 2px solid rgba(#ffffff, 0.4);
$overlayBackground: rgba(0, 0, 0, 0.8);

$templateGallery: repeat(auto-fit, minmax(400px, 1fr));
